.container {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.spiner {
    --size: 200px;
    --first-color: blue;
    --second-color: yellow;
    position: relative;
    color: aliceblue;
    font-size: 2rem;
}

.spiner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 30px solid var(--first-color);
    border-top: 30px solid var(--second-color);
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}